@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

.bkg{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: -70px;
}

.defaultImage {
  display: none;
}

.imageDog {
  background-image: url(../../images/create\ dog3.jpg);
  background-position: center;
  background-size: 930px;
  background-repeat: no-repeat;
  height: 600px;
  width: 550px;
  margin-top: -150px;
  border-radius: 20px;
}

.container {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 20%;
  margin-bottom: 2%;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  justify-content: space-around;
  align-items: center;
  box-shadow: 6px 7px 8px -6px rgba(0, 0, 0, 0.75);
  border-radius: 47px;
  /* background: rgba(157, 238, 109, 0.527); */
  color: white;
  padding: 2%;
  background-color: #6d6d6d;
}

.form {
  width: 300px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.section {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin: 10px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 15px;
  gap: 5px;
  box-shadow: 6px 7px 8px -6px rgba(0, 0, 0, 0.75);
  background-color: rgb(0, 0, 0);
}

h5 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 8px;
  color: white;
  text-align: center;
}

.selectTemp {
  width: 90%;
  height: 30px;
  background-color: rgba(228, 228, 207, 0);
  border-radius: 15px;
  border: none;
  outline: none;
  margin: 5px 8px;
  padding: 3px 10px;
  cursor: pointer;
  font-family: "fredoka one", sans-serif;
}

.temps {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  display: flex;
}

.boxSelectTemp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: #464646dc;
  border-radius: 15px;
  gap: 5px;
  margin: 5px 8px;
  padding: 3px 10px;
  font-family: "fredoka one", sans-serif;
  width: 40%;
  margin-left: -590px;
  margin-top: -200px;
  position: absolute;
}

.btnDelete {
  border: solid 1px transparent;
  border-radius: 10000px;
  margin-top: 9.5px;
  margin-left: 5px;
  margin-right: 3px;
  width: 25px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.25s;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}

.btnDelete:hover {
  background-color: #e70d0d;
  color: white;
  
}

.error {
  color: red;
  font-size: 15px;
  margin-top: -3px;
  font-weight: 700;
}

.input {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  width: 80%;
  font-size: 1rem;
  color: black;
  border-radius: 25px;
}

.input::placeholder {
  color: black;
}

input::placeholder {
  background-color: transparent;
  color: white;
  font-size: 1rem;
  align-items: center;
  align-content: center;
}

.imgDog {
  width: 100%;
  height: 95%;
  object-fit: cover;
  box-shadow: 6px 7px 10px 0px rgb(0 0 0 / 50%);
  overflow: hidden;
  grid-area: 1/1/6/2;
  border-radius: 20px;
}

.btnCreate {
  min-width: 90%;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: black;
  margin-left: 15px;
}

.btnCreate:hover {
  background: white;
  color: black;
}

.swal-button--confirm {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: black;
  font-size: 22px;
  color: white;
}

.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}